html,
body {
  height: 100%;
}
.navbar-brand {
  font-family: 'Peralta', cursive;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.push {
  height: 60px;
}
